
<div class="user-inverse" style="padding-top:80px;">
  <div class="search-form-box">
    <h1 class="header-buttons-search-users search-user">プロフィール画像の編集</h1>
    <div class="users-edit-boxes">
    	<p class="users-edit-information">
    	<%= form_for(@user) do |f| %>
        <label class="users-edit-information-contents">
          <label>画像</label>
          <%= f.attachment_field :profile_image %>
        </label>
        <%= f.submit "編集する" %>
        <%= link_to edit_user_path(@user.id) do %>
          <button type="button" class="users-edits-button-style" >編集画面に戻る</button>
        <% end %>
      <% end %>
  	</p>
    </div>
  </div>
</div>
