
<div class="background-image" style="padding-top:80px;">
	<div class="top-box">
		<div class="top-box-title">
		<p class="top-title">Bandles</p>
		<p>BANDLESはバンドメンバー募集サイトです<br>
		   一生付き合える音楽仲間を探そう
		</p>
		</div>
    </div>
</div>
