<h1>Admins::Charges#new</h1>
<p>Find me in app/views/admins/charges/new.html.erb</p>
<div class="charge.new" style="padding-top:200px;">
<%= form_for @charge, :url => {:action => :create} do |f| %>
	<label>楽器名</label>
	<%= f.text_field :name %>
	<%= f.submit %>
<% end %>
</div>
